[Desktop Entry]
Type=Application

Name=mos.launcher
Comment=Used for developing with the Mobilitysuite
Categories=Development;IDE;

Icon=de.fabrik19.mos-Launcher
Exec=mos-launcher
Terminal=false
